.navbars {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    height: 50px;
    text-align: center;
    padding-top: 5px;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    margin: 5px;
    border-radius: 10px;
    width:100%;
    background-color: #167bff;
    color: white;
}

.nav-item:hover {
    text-decoration: none;
    background-color: #1169d9;
    color: white;
    cursor: pointer;
}

.dropdown-link {
    height: 100%;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    background-color: #167bff;
    border-radius: 0 0 10px 10px;
}

.dropdown-item {
    color: white;
    border: solid 1px black;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #1169d9;
    color: white;
}

.dropdown-item:last-child {
    border-radius: 0 0 10px 10px;
}