body {
    font-family: Arial, sans-serif;
    /* Helvetica, sans-serif; */
    background-color: silver;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: lightgray;
    height: 50px;
    width: 100px;
    text-align: center;
    padding: 20px;
    font-size: 3em;
    color: black;
}
.back:hover {
    background-color: gray;
}

.heading {
    margin-left: 10%;
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    width: 80%;
    border-bottom: solid;
    padding-bottom: 15px;
}

#items {
    margin-top: 100px;
    width:80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-columns: auto auto; */
    /* grid-gap: 10px; */
}

.item {
    margin-top: 20px;
    width: 40%;
    padding: 20px;
    background-color: #D5D5D5;
    /* border-bottom: solid gray; */
}

.item:before {
    content:"";
    display:block;
    height:90px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
}

.item-title {
    padding-left: 5%;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    /* text-align: center; */

}

.imgs-btns {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-btn {
    text-align: center;
    width: 10%;
}

.left-btn:hover {
    cursor: pointer;
    background-color: lightgray;
    border: gray;
}

.images {
    height: 400px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.right-btn {
    text-align: center;
    width: 10%;
    position: relative;
    top: 50%;
}

.right-btn:hover {
    cursor: pointer;
    background-color: lightgray;
    border: gray;
}

.description {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

.hide {
    display: none;
}

.buy-btn {
    position: relative;
    left: 80%;
    font-size: 1.3em;
}

.buy-btn:hover {
    cursor: pointer;
}